.ll {display: block; text-align: center; padding-top: 15px; margin: 20px auto; width: 80%; max-width: 450px; }
.aa {margin-top: 50px;}
.bb {margin-bottom: 50px;}
.cc {max-width: 100%; max-height: auto; display: block; margin: auto 0;}
.dd {float: left;}
.hh {float: left; margin-right: 20px;}
.ee {clear: both;}
.ff {max-width: 200px; width: 80%;}
.rr {display: block; margin: 20px auto;}